@font-face {
  font-family: currency;
  src: url(fonts/Cash-Currency.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-medium;
  src: url(fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway-semibold;
  src: url(fonts/Raleway-SemiBold.ttf);
}
