.currency-font {
  font-family: currency;
  color: gray;
}

.heading {
  font-size: 1.7rem;
}

.map {
  height: 830px;
  width: auto;
}

.visualization path:hover {
  cursor: pointer;
}

.visualization path:active {
  fill: cornflowerblue;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Raleway-medium;
}

@media only screen and (max-width: 1024px){
  .map{
    height: 650px;
  }
}

@media only screen and (max-width: 768px){
  .map{
    height: 550px;
  }
}

@media only screen and (max-width: 667px){
  .map{
    height: 450px;
  }
}

@media only screen and (max-width: 375px){
  .map{
    height: 250px;
  }
}
