.currency-font {
  font-family: currency;
  color: gray;
}

.heading {
  font-size: 1.7rem;
}

.map {
  height: 830px;
  width: auto;
}

.visualization path:hover {
  cursor: pointer;
}

.visualization path:active {
  fill: cornflowerblue;
}
